.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

div.center {
    width: 100px;
    height: 100px;
    background-color: rgba(34, 78, 111, 0.75);
    border-radius: 20px;
    text-align: center;
    padding: 50px;
    margin: 10px;
    color: #04aa6d;
}