@font-face {
    font-family: "Minecraft";
    src: url("../fonts/Minecraft.otf");
}

body {
    background-color: rgb(38, 37, 37);
    font-family: "Minecraft";
    /* background: linear-gradient(#00ff04, #09aad3); */
}

html {
    scroll-behavior: smooth;
}

.grid {
    border-radius: 1rem;
    background-color: rgb(21, 21, 21);
    width: 90%;
    margin: 0;
    padding-block: 20px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    color: white;
}

.grid div, .grid p {
    margin-inline: 1rem;
}

.version::before {
    visibility: hidden;
    transition: 1s;
}

.version:hover::before {
    visibility: unset;
}

.version {
    position: relative;
    font-size: 50px;
    font-family: "Minecraft";

    text-align: center;
}

h1.header {
    background-color: rgba(137, 138, 143, 0.072);
    border-radius: 10px;
    text-align: center;
    font-size: 5rem;
    margin: 0;
    margin-block: 1rem;
}

div.title {
    color: bisque;
    font-size: 4rem;
    text-decoration: underline;
    margin-block: 5px;
}

div.name {
    font-size: 2rem;
    margin-block: 10px;
}

div.name * {
    font-size: 1.25rem;
}

div {
    font-size: 1.25rem;
}

*.nerf {
    color: #FF5555;
}

*.buff {
    color: #55FF55;
}

*.change {
    color: yellow;
}

/* Paragraph */
p {
    margin: 0;
    color: white;
    font-size: 1.25rem;
    text-decoration: none;
}

p::before {
    content: "- "
}

br {
    display: block;
    margin: 0.5rem 0;
}

/* Styles */
.comment {
    font-style: italic;
    color: rgb(124, 124, 124);
}

/* Tags ::before and ::after */

#_bugs::after,
#_bugs::before {
    content: "🐛 ";
}

#_classes::after,
#_classes::before {
    content: "🤺 ";
}

#_system::after,
#_system::before {
    content: "💻 ";
}

#_map::after,
#_map::before {
    content: "🍁 ";
}

#_ability::after,
#_ability::before {
    content: "✨ ";
}

/* Navigation */
.navigation {
    height: auto;
    margin-block: 20px;
    padding-block: 20px;
    text-align: center;
    background-color: #4d5053;
}

select {
    appearance: none;
    background-color: transparent;
    border: 10 solid black;
    padding: 0.25rem 1rem 0.25rem 1rem;
    margin-block: 20px;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
}

u {
    margin-inline: 0rem;
}

.nav {
    text-align: center;
    padding: 10px;
    background-color: rgb(34, 34, 33);
    border-radius: 10px;
}

.nav a {
    margin-inline: 0.5rem;
    color: rgb(234, 237, 165);
    text-decoration: none;
}

/* Back to top button */
.back_to_top {
    position: fixed;
    right: 1.5rem;
    bottom: 2rem;
}

.hidden {
    display: none;
}