.pluginName {
    color: rgb(79, 56, 100);
    margin: 50px;
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.plugin {
    margin: 50px;
    padding: 30px;
    background-color: red;
    border: 5px solid black;
}

.plugin .link {
    color: rgb(59, 245, 255);
    border: 5px solid white;
    width: 50%;
    margin: auto;
}