/* Links */
a.blink {
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    text-align: center;
    display: block;
    text-decoration: none;
    border: 5px solid #3537c2;
    padding: 0.2rem 2rem;
    background-color: #4143d5;
    border-radius: 50px;
}

body {
    background-image: url("/img/background.jpg");
    background-size: 100%;
    background-position: absolute;
    background-repeat: no-repeat;
}

a.blink:hover {
    font-size: 1.6rem;
    animation: cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

blockquote {
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    color: #2e0000;
}

/* Illustration */
.illustration_credit {
    color: white;
    margin: 50px;
    position: absolute;
    font-style: italic;
    margin-top: 80%; 
    padding-bottom: 5%;
    text-align: center;
}

.illustration_credit a {
    color: rgb(29, 44, 207);
    text-decoration: none;
    font-style: italic bold;
}